<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Home{% endblock %}</title>
    {% stylesheets filter='cssrewrite'
    'public/css/bootstrap.min.css'
    'public/css/navbar-fixed-top.css'
    'public/css/mprogress.min.css'
    'public/css/buttons.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" media="screen"/>
    {% endstylesheets %}

    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block navbar %}
    <!-- Fixed navbar -->

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand app-logo" style="font-weight: bold;" href="/">

                    {% image 'public/img/site_logo.png' %}
                    <img src="{{ asset_url }}" alt="Example"/>
                    {% endimage %}
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% for menu_itme_name, menu_item_url in menu.left_menu %}
                        <li {% if (('/' ~ app.request.get('_route') in menu_item_url) or (menu_item_url in  '/' ~ app.request.get('_route'))) %} class="active"{% endif %} >
                            <a
                                    href="{{ menu_item_url }}"><i class="icon-home icon-2x"></i>{{ menu_itme_name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% for menu_itme_name, menu_item_url in menu.right_menu %}

                        <li {% if (('/' ~ app.request.get('_route') in menu_item_url) or (menu_item_url in  '/' ~ app.request.get('_route'))) %} class="active"{% endif %} >
                            <a href="{{ menu_item_url }}">{{ menu_itme_name }}</a></li>
                    {% endfor %}


                    {% if menu.profile == true %}
                        <li class="dropdown"><a href="#" class="dropdown-toggle" id="profile-image-dropdown"
                                                data-toggle="dropdown" role="button"
                                                aria-haspopup="true" aria-expanded="false">
                                <img src="data:image/png;base64,{{ user_image }}" class="profile-image img-circle">
                                {{ user.firstName }} {{ user.lastName }}
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for menu_itme_name, menu_item_url in menu.profile_menu %}
                                    <li><a href="{{ menu_item_url }}"><i class="icon-arrow-up"></i>{{ menu_itme_name }}
                                        </a></li>
                                {% endfor %}
                                <li role="separator" class="divider"></li>
                                <li><a href="" onclick="signout()">Sign out</a></li>
                            </ul>
                        </li>
                    {% endif %}

                </ul>
            </div><!--/.nav-collapse -->

        </div>

    </nav>

    <div style="height: 4px; margin-top: 0px;" id="bug_zilla_progress_div"></div>


{% endblock %}
<div id="content" class="container">
    {% block body %}{% endblock %}
</div>
<!-- navbar-fixed-bottom -->
{% block footer %}
    <footer class="footer" style="height: 40px; background-color: #f8f8f8;">
        <div class="container">
            <p class="text-muted text-center" style="padding-top: 10px; color: black;">(c) 2016 MyBugZilla. All Rights
                Reserved</p>
        </div>
    </footer>
{% endblock %}
{% javascripts
'public/js/common/jquery.js'
'public/js/common/bootstrap.min.js'
'public/js/common/bootbox.min.js'
'public/js/common/signout.js'
'public/js/common/mprogress.min.js'
'public/js/common/global_progress_bar.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% block javasript %}{% endblock %}
</body>
</html>
