{% extends 'app/admin/admin.html.twig' %}
{% block title %}User Profile{% endblock %}
{% block admin_stylesheets %}
    {% stylesheets  'public/css/user_profile.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block admin_body %}
    {% if data.success == false %}
        <div class="alert alert-danger">
            <strong>Failure : </strong> {{ data.msg }}
        </div>
    {% else %}


        <div class="col-xs-12 user-profile-header">
            <div class="col-xs-6">
                <p style="font-size: 30px; text-align: left;">{{ data.selected_user.firstName ~ ' ' ~ data.selected_user.lastName }}</p>
            </div>
            <div class="col-xs-2">
            </div>

            <div class="col-xs-4 user-profile-status-bar">
                <button type="button" class="btn btn-default user-profile-status-bar-item">Baned <span
                            class="badge">No</span></button>
                <button type="button" class="btn btn-success user-profile-status-bar-item">Status <span class="badge">Active</span>
                </button>
                <button type="button" class="btn btn-default user-profile-status-bar-item">Role <span
                            class="badge">User</span></button>
            </div>

        </div>
        <div class="col-xs-12 user-profile-body">
            <div class="col-xs-6">

                <form class="form-horizontal" id="myForm">
                    <fieldset>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label user-profile-label" for="textinput">Username</label>
                            <div class="col-md-9">
                                <input id="UsernameInput" readonly name="textinput" type="text" placeholder=""
                                       class="form-control input-md" value="{{ data.selected_user.username }}">
                            </div>
                        </div>


                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label user-profile-label" for="textinput">Email</label>
                            <div class="col-md-9">
                                <input id="EmailInput" readonly name="textinput" type="text" placeholder=""
                                       class="form-control input-md" value="{{ data.selected_user.email }}">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label user-profile-label" for="textinput">Phone</label>
                            <div class="col-md-9">
                                <input id="FirstNameInput" readonly name="textinput" type="text" placeholder=""
                                       class="form-control input-md" value="{{ data.selected_user.phone }}">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label user-profile-label" for="textinput">Address</label>
                            <div class="col-md-9">
                                <input id="LastNameInput" readonly name="textinput" type="text" placeholder=""
                                       class="form-control input-md" value="">
                            </div>
                        </div>


                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label user-profile-label" for="textinput">Work
                                Position</label>
                            <div class="col-md-9">
                                <input id="LastNameInput" readonly name="textinput" type="text" placeholder=""
                                       class="form-control input-md" value="{{ data.selected_user.workPosition }}">
                            </div>
                        </div>


                    </fieldset>
                </form>

            </div>
            <div class="col-xs-2">
            </div>
            <div class="col-xs-4">
                <img class="user-profile-image"
                     src="data:image/png;base64,{{ user_image }}"/>
            </div>
        </div>






    {% endif %}

{% endblock %}
{% block admin_javasript %}

{% endblock %}